<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%= meta_description %>">
    <title><%= page_title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %>">

    <header class='site-header'>
      <h1 class="logo"><a href="/">kiki.to</a></h1>
      <nav class='site-nav'>
        <ul class='horizontal-list'>
          <li><a class='site-nav-link' href="/about">About</a></li>
        </ul>
      </nav>
    </header>

    <hr />

    <section class="main">
      <%= yield %>
    </section>
    <footer>
      <ul class="horizontal-list">
        <li>
          <a href='https://github.com/kikito' class='social icon-github' title= 'github: kikito'></a>
        </li>
        <li>
          <a href='https://twitter.com/otikik' class='social icon-twitter' title= 'twitter: otikik'></a>
        </li>
        <li>
          <a href='http://stackoverflow.com/users/312586/kikito' class='social icon-stackoverflow' title= 'stackoverflow: kikito'></a>
        </li>
      </ul>
      <a class='damped left corner' title='atom feed' href='/feed.xml'><i class='icon-rss'></i></a>
      <a class='damped right corner' title='legal stuff' href='/legal'><i class='icon-cc'></i><i class='icon-cc-by'></i></a>
    </footer>
  </body>
</html>
