<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_article.present? ? current_article.title : "kikito.github.io" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <ul class="horizontal-list">
        <li><%= link_to 'kikito', 'https://github.com/kikito', class: 'github' %></li>
        <li><%= link_to '@otikik', 'https://twitter.com/otikik', class: 'twitter' %></li>
      </ul>
    </footer>
  </body>
</html>
