<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= current_article.title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "style" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="main">
      <h1><%= link_to current_article.title, current_article %> <time><%= current_article.date.strftime('%Y-%m-%d') %></time></h1>
      <%= yield %>
      <footer>
        <p><a href="/">Back to Index</a></p>
      </footer>
    </div>
  </body>
</html>
